.DS_Store
.classpath
.project
*.log
.settings/
.idea/
.gradle/
build/
*.iml
*.ipr
*.iws
run/
out/
.eclipse/
eclipse/
Empires.txt
LICENCE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
CREDITS-fml.txt
changelog.html
README.txt
